* text=auto

*.js text eol=crlf
*.jsx text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.json text eol=crlf
*.css text eol=crlf
*.scss text eol=crlf
*.html text eol=crlf
*.md text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.toml text eol=crlf

*.sh text eol=lf
*.bash text eol=lf
