rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /results/{resultId}{
      allow read, create, update;
			allow delete: if request.auth.uid != null;
    }
    match /users/{uid} {
      allow read, create, update;
      allow delete: if request.auth.uid == request.resource.data.createdBy;
    }
  }
}